<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.userserver.sale.mapper.SaleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.userserver.sale.entity.Sale">
        <id column="id" property="id" />
        <result column="salename" property="salename" />
        <result column="startdate" property="startdate" />
        <result column="enddate" property="enddate" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, salename, startdate, enddate, status
    </sql>

</mapper>
